body {
    font-family: 'Roboto', sans-serif;

}

#result-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



#result-box {
    width: 100%;
    background-color: #00e164;
    color: #222528;

}